<div ng-controller="chatController as chatCtrl">
    <md-content md-theme="light-blue-dark">
        <form style="padding: 20px;">
            <div class="row">
                <md-text-float label="Name" ng-model="name"></md-text-float>
                <md-text-float label="Room" ng-model="room"></md-text-float>
                <md-button class="md-fab md-primary" md-theme="cyan" aria-label="Join room" ng-click="joinRoom(name,room)">
                    <i class="md-person-add"></i>
                </md-button>
            </div>
        </form>
    </md-content>
    <md-content class="md-blue-theme">
        <section>
            <md-list layout="column">
                <md-item ng-repeat="message in messages">
                    <md-item-content>
                        <div class="md-tile-left">
                            <div ng-src="{{message.name}}" class="face"/>
                        </div>
                        <div class="md-tile-content">
                            <h3>{{message.message}}</h3>
                            <h4>{{message.name}}</h4>
                        </div>
                    </md-item-content>
                </md-item>
            </md-list>
        </section>
    </md-content>
</div>

