<div layout="row" layout-align="center center" class="fill-height">
    <md-content>
        <md-card>
            <form name="loginForm" style="padding: 10px;" novalidate>
                <h2>Log in:</h2>
                <div class="column">
                    <md-text-float label="Username" ng-model="userName" required></md-text-float>
                    <md-text-float label="Room" ng-model="roomName" required></md-text-float>
                    <md-button class="md-primary fill-width"  md-theme="cyan" aria-label="Login" ng-click="loginForm.$valid&&login(userName,roomName)">
                        Log in
                    </md-button>
                </div>
            </form>
        </md-card>
    </md-content>
</div>