<md-dialog aria-label="Upload Music">
    <md-content>
        <md-subheader class="md-sticky-no-effect">Upload a song</md-subheader>
        <md-text-float label="Title" ng-model="title" required></md-text-float>
        <md-button class="md-primary md-raised fill-width"
                   ng-file-select
                   ng-model="files"
                   accept="audio/*"
                >
            Choose a song
        </md-button>
        <div ng-file-drop ng-model="files"
             class="drop-box"
             drag-over-class="{accept:'dragover', reject:'dragover-err', delay:100}"
             accept="audio/*"
             style="padding:100px;">
            Drop song here
        </div>
        <md-button class="md-primary fill-width" ng-click="files.length>0&&uploadSong(title,files[0])">Upload song</md-button>
    </md-content>
</md-dialog>