<div layout="row" layout-align="center center" style="margin-top: 10%;" class="fill-height">
    <md-content>
        <md-card>
            <form name="roomForm" style="padding: 10px;" novalidate>
                <h2>Pick a room:</h2>
                <div class="column">
                    <md-text-float label="Room" ng-model="roomName" required></md-text-float>
                    <md-button class="md-primary fill-width" aria-label="Login" ng-click="roomForm.$valid&&joinRoom(roomName)">
                        Join room
                    </md-button>
                </div>
            </form>
        </md-card>
    </md-content>
</div>